$primary: #6991E3;
$secondary: #AEAEAE;
$dark: #323D4F;

@import "bootstrap/scss/bootstrap";

$headerHeight: 100px;

html, body {
    height: 100%;
    width: 100%;
}


header {
    height: $headerHeight;
    background-image: linear-gradient(to right, $primary, #261360);
}

header h1 {
    position: relative;
    left: 15%;
}

main {
    height: calc(100% - $headerHeight);
}

#weatherDayCard, #forecastHeaderRow, .weatherForecastColumn {
    display: none;
}
