$primary: #6991E3;
$secondary: #AEAEAE;

@import "../../../node_modules/bootstrap/scss/bootstrap";

$headerHeight: 100px;

html, body {
    height: 100%;
    width: 100%;
}


header {
    height: $headerHeight;
    background-image: linear-gradient(to right, $primary, #261360);
}

header h1 {
    position: relative;
    left: 15%;
}

main {
    height: calc(100% - $headerHeight);
    background-color: darkorange;
}
